.App {
  text-align: center;
  padding: 2rem;
  background-color: rgb(39, 38, 51);

}
.first-location{
  display: flex;
  margin-top:2rem;
  justify-content: space-around;
}
.second-location{
  display: flex;
  margin-top:2rem;
  justify-content: space-around;

}
.distance-form{
  display: flex;
  justify-content: space-around;
}
.form-group{
  margin-top:2rem;
  font-size: 1.5rem;
}
.prices {
  display:flex;
  margin-top:2rem;
  justify-content: space-around;
}
.Home {
  background-color: rgb(230, 235, 236);
  border-radius: 8px;

}

.mapWrapper {
  /* width: 100vw; */
  height: 100vh;
}
